<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>DignityCafe</title>
<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
<link rel="stylesheet" href="css/style.css" />
<link rel="icon" type="image/png" href="images/favicon.png" />
</head>

<body>
		<header class="page-header wrapper">
			<h1>
				<a href="/"><img class="logo" src="images/logo.png"
					alt="DignityCafeHome"></a>
			</h1>
			<nav>
				<ul class="main-nav">
					<li><a href="menu"> Menu</a></li>
					<li><a href="acsess">Access</a></li>
					<li><a href="login" class="btn btn--brown">予約する</a></li>
				</ul>
			</nav>
		</header>

	<div class="box">
		<img src="../images/cafe_top.png">
<!-- 
		<p class="top-right">
			<a href="login" class="btn btn--brown">予約する</a>
		</p>
 -->

	</div>

	<footer>
		<div>
			<p>Dignity Cafe</p>
			<p>住所:尊厳区尊厳町1-5-1</p>
			<p>e-mail:deignity@dignity.com</p>
			<p>営業時間:今ここ</p>
		</div>
	</footer>
</body>
</html>